---
layout: default
---

<p>Syndicated to <a href="https://git.work">git.work</a>.</p>

<div class="posts">
  {% for post in site.posts %}
    <article class="post h-entry h-product">

      <h1 class="p-name"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">
      {% if post.price %}
      <p>Price: <span class="p-price">{{ post.price }}</span></p>
    {% endif %}
        {{ post.excerpt }}
      </div>

        <div class="date">
    Written on <date datetime="{{ post.date | date_to_xmlschema }}" class="dt-published">{{ post.date | date: "%B %e, %Y" }}</date>
  </div>

  {% if post.skills %}
<p>Skills: 
{% for skill in post.skills %}
<span class="p-category">{{ skill }}</span>
{% endfor %}
  </p>
  {% endif %}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      <a href="{{ post.url | absolute_url }}" class="u-url">Permalink</a>
    </article>
  {% endfor %}
</div>
